.title-fade-out{
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#B3E5FC;
}

.title-fade-in{
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#B3E5FC;
}

@keyframes fade-out{
  from{opacity: 100;}
  to{opacity: 0;}
}

@keyframes fade-in{
  from{opacity: 0;}
  tp{opacity: 100;}
}